apiVersion: kubevault.com/v1alpha2
kind: VaultServer
metadata:
  name: vault
  namespace: "{{ vault_namespace }}"
spec:
 # tls:
 #   issuerRef:
 #     apiGroup: "cert-manager.io"
 #     kind: Issuer
 #     name: vault-issuer
  replicas: 2
  backend:
    raft:
      storage:
        storageClassName: "local-path"
        resources:
          requests:
            storage: 200Mi
  version: "{{ vault_kubevault_server_version }}"
  serviceTemplates:
    - alias: vault
      metadata:
        annotations:
          name: vault
      spec:
        type: NodePort
  unsealer:
    secretShares: 4
    secretThreshold: 2
    mode:
      kubernetesSecret:
        secretName: {{ vault_token_k8s_secret_name }}